@use 'styles/theme';

.hxTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0;

  .title {
    @include theme.breakpoint('sm') {
      @include theme.text('h1', 'black', $heading: true);
      letter-spacing: 7px;
    }
    @include theme.text('h6', 'black', $heading: true);
    letter-spacing: 7px;
    margin-bottom: 20px;
  }

  .orgName {
    @include theme.breakpoint('sm') {
      @include theme.text('h5');
    }
    @include theme.text('h6');
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: -3.7rem;
  }
}
