@use 'styles/theme';

:export {
  fontFamily: theme.$body-font;
  background: theme.color('gradients', 'background', 'dark');
  paper: theme.color('background', 'card');
  primary: theme.color('button', 'light');
  onPrimary: theme.color('button', 'text');
  secondary: theme.color('icons', 'dark');
  buttonOutline: theme.color('button', 'outline');
  error: theme.color('text', 'error');
  teal: theme.color('background', teal);
  darkPurple: theme.color('border', 'dark');
  purpleText: theme.color('text', 'body-dark');
  bgChartTrack: theme.color('background', 'chart', 'track');
  sufferingMain: theme.color('text', 'bands', 'suffering');
  satisfiedMain: theme.color('text', 'bands', 'frustrated');
  frustratedMain: theme.color('text', 'bands', 'satisfied');
  satisfiedLight: theme.color('gradients', 'bands', 'satisfied', 'light');
  satisfiedDark: theme.color('gradients', 'bands', 'satisfied', 'dark');
  sufferingLight: theme.color('gradients', 'bands', 'suffering', 'light');
  sufferingDark: theme.color('gradients', 'bands', 'suffering', 'dark');
  frustratedLight: theme.color('gradients', 'bands', 'frustrated', 'light');
  frustratedDark: theme.color('gradients', 'bands', 'frustrated', 'dark');
  iconsLight: theme.color('icons', 'light');
  iconsDark: theme.color('icons', 'dark');
  homeColor: theme.color('sankey', 'home');
  officeColor: theme.color('sankey', 'office');
  hybridColor: theme.color('sankey', 'hybrid');
  snakeOffice: theme.color('sankey', 'snake', 'office');
  snakeHybrid: theme.color('sankey', 'snake', 'hybrid');
  snakeHome: theme.color('sankey', 'snake', 'home');
  buttonLight: theme.color('button', 'light');
  buttonDark: theme.color('button', 'dark');
  breakpointSm: map-get(theme.$breakpoints, 'sm');
  breakpointMd: map-get(theme.$breakpoints, 'md');
  breakpointLg: map-get(theme.$breakpoints, 'lg');
  breakpointXl: map-get(theme.$breakpoints, 'xl');
  adminCodeFont: map-get(theme.$adminCode, 'font');
  adminCodeSize: map-get(theme.$adminCode, 'size');
  adminCodeBackground: map-get(theme.$adminCode, 'background');
  remoteWorking: theme.color('gradients', 'remoteWorking', 'remote');
  officeWorking: theme.color('gradients', 'remoteWorking', 'office');
  lightThemeSubtitle: theme.color('lightTheme', 'text', 'subtitle');
  lightThemeButtonGradient: theme.color('lightTheme', 'button', 'background');
  lightThemeButtonHoverGradient: theme.color('lightTheme', 'button', 'hoverBackground');
  lightThemeButtonIconColor: theme.color('lightTheme', 'button', 'icon');
  lightThemeButtonColor: theme.color('lightTheme', 'button', 'color');
  lightThemeButtonBorder: theme.color('lightTheme', 'input', 'border');
  lightThemeButtonOutline: theme.color('lightTheme', 'input', 'outline');
  lightThemeButtonHoverBorder: theme.color('lightTheme', 'input', 'hoverBorder');
  carbonSaved: theme.color('charts', 'carbon', 'saved');
  carbonTotal: theme.color('charts', 'carbon', 'total');
}
